body {
	width: 100%;
	height: 100%;
	font-size: 49px;
}
.header{ margin: 5% 25%; display: -webkit-box; font-family: font-family: 'Roboto', sans-serif;}
.header span, .header a{ display: block; font-size: 0.5em }

.container{ width: 200px;height: 120px; }
.container img{ width: 100%; height: auto; }

.bio { width: 400px; font-style: italic; font-size: 0.4em; }
.bio span {font-size: 0.9em; }
.bold { font-weight: 700; }
.center{ text-align: center; }

.content-table{ 
	font-family: font-family: 'Roboto', sans-serif;
	font-size: 0.4em; 
	width: 1000px;
	height: auto;
	margin: 0 12%;
}

.title { background-color: coral; width: 1000px; }
.subtitle { font-style: italic; font-weight: 700; }
.subtitle2 { font-style: italic; color: coral; font-weight: 500;}
.content p { margin: 5px 0; }
.table{ padding: 0 3%; display: -webkit-box; }
.col-1-2{ width: 500px; }